<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.li.androidprojecttext">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取GSM网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许获取Wi-Fi网络状态改变信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- SD 卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--  打开相机权限  -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".kotlin.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ProjectTheme">
        <!-- Mqtt服务 -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name=".activity.mqtt.li.mqtttest.MQTTService" />
        <service android:name=".activity.mqtt.li.test1.MqttService" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VideoActivity"></activity>
        <activity android:name=".activity.Viewpager2TestActivity"></activity>
        <activity android:name=".activity.FaceRecognitionDemoActivity"></activity>
        <activity android:name=".activity.DoubleCameraActivity"></activity>
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".mvvm.view.UserActivity"></activity>
        <activity android:name=".activity.mqtt.li.mqtttest.MQTTActivity" />
        <activity android:name=".activity.mqtt.li.test1.TestActivity" />
        <activity android:name=".mvvm.view.DemoActivity"></activity>
        <activity android:name=".mvvm.view.MVVMMainactivity">

        </activity>
        <activity android:name=".databing.DatabingTestActivity" />
        <activity android:name=".databing.viewmodel.ViewModelActivity" />
        <activity
            android:name=".kotlin.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/ProjectTheme.NoActionBar"></activity>
        <activity
            android:name=".kotlin.ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">

        </activity>
        <activity
            android:name=".kotlin.ui.activity.MainActivity"
            android:screenOrientation="portrait">

        </activity>

        <service
            android:name=".aidl.keeplive.ClientLocalService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="ClientLocalService"/>
            </intent-filter>
        </service>
        <activity
            android:name=".aidl.keeplive.ClientTransferActivity"
            android:theme="@style/TransparentStyle">
            <intent-filter>
                <action android:name="ClientTransferActivity.FROM_SELF" />
                <action android:name="ClientTransferActivity.FROM_OTHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".aidl.keeplive.RemoteService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="RemoteService"/>
            </intent-filter>
        </service>
        <activity
            android:name=".aidl.keeplive.RemoteTransferActivity"
            android:theme="@style/TransparentStyle">
            <intent-filter>
                <action android:name="RemoteTransferActivity.FROM_SELF" />
                <action android:name="RemoteTransferActivity.FROM_OTHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>